.d-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }
}
.flex-start {
  justify-content: flex-start !important;
}
.code-wrapper {
  background-color: $bg-code;
  padding: 1rem;
  color: $black;
  margin: 1rem 0;
}
