// Primary Colors
$black: #181822;
$black-2: #060608;
$link: #fb2056;
$red: #fb2056;
$button-primary: #1c78d3;
$button-primary-darker: #155697;
$button-secondary: #bebebe;
$button-secondary-darker: #acacac;

// Lighter Pastels
$bg-water: #d9dce3;
$bg-input: #f4f4f4;
$red-light: #f76b8e;
$bg-code: #d0d0d0;


// Fonts
$primary-font: "Noto Sans JP", sans-serif;
